.network-topology-app {
  h1 {
    font-size: 24px;
    font-weight: 700;
    color: #949492;
  }
  .card {
    border-radius: 20px;
    border: 5px solid #000;
    padding: 20px;
    background-color: #ebebeb;
  }
  .card-header {
    text-align: center;
    margin-bottom: 10px;
  }
  .card-content {
    display: flex;
    gap: 120px;
  }
  .simple-network {
    position: relative;
  }
  .link {
    position: absolute;
    height: 8px;
    background-color: #000;
  }
  .icon {
    position: relative;
    font-size: 60px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    border: 3px solid #000;
    border-radius: 50px;
    z-index: 2;
    background-color: #ebebeb;
    .name {
      position: absolute;
      font-size: 12px;
      color: #555;
      top: 62px;
      font-size: 22px;
    }
  }
  #simple-network.screenshot {
    .name {
      top: 50px !important;
    }
  }
}

.network-topology-app::before {
  background-color: #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 200vw;
  height: 200vh;
  background-image:
      linear-gradient(0, #949492 0px, #949492 1px, transparent 1px, transparent 100px);
  background-size: 10px 10px;
  opacity: 0.1;
  transform: rotate(64deg);
  transform-origin: top;
  z-index: -1;
}